![](itd.png)

    
# Análisis de Datos Masivos
## Evaluación de los errores de ajuste en la regresión lineal

## Nombree del docente
### José Gabriel Rodriguez Rivas
## Nombre del alumno
### Calos Alberto Carrete Gómez

### Parte 1: Importe las bibliotecas y los datos


En esta parte, importará las bibliotecas y los datos del archivo stores-dist.csv.
#### Paso 1: Importe las bibliotecas.

En este paso, importará las bibliotecas siguientes:

    numpy como np
    pandas como pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Import numpy and pandas
import numpy as np
import pandas as pd


from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression

#### Paso 2: Importe los datos.

En este paso, importará los datos del archivo stores-dist.csv, cambiará los encabezados de las columnas y verificará que el archivo se haya importado correctamente.

Los encabezados de las columnas ventas netas anuales y número de tiendas en el distrito se renombran para facilitar el procesamiento de los datos.

    ventas netas anuales a ventas
    número de tiendas en el distrito a tiendas

In [5]:
# Import the file stores-dist.txt
salesDist = pd.read_csv('stores-dist.txt')

# Change the column headings
salesDist.columns = ['district','sales','stores']

# Verify the imported data
salesDist.head()

   district  sales  stores
0         1  231.0      12
1         2  156.0      13
2         3   10.0      16
3         4  519.0       2
4         5  437.0       6

In [6]:
sales = salesDist.drop('district',axis=1)

# Verify that the district column has been dropped.
sales.head()

   sales  stores
0  231.0      12
1  156.0      13
2   10.0      16
3  519.0       2
4  437.0       6


### Parte 2: Cálculo de errores
En esta parte, utilizará numpy para generar una línea de regresión para los datos analizados. También calculará el centroide para este conjunto de datos. El centroide es la media del conjunto de datos. La línea de regresión lineal simple generada también debe atravesar el centroide.

También utilizará sklearn.metrics para evaluar el modelo de regresión lineal. Calculará la puntuación R2
y el error medio cuadrático (MSE).

#### Paso 1: Asigne las variables x e y.

Asigne las ventas del marco de datos como la variable dependiente y
y las tiendas del marco de datos como la variable independiente para el eje x.

In [20]:
#dependent variable for y axis
y = sales.sales 
#independent variable for x axis
x = sales.stores

#### Paso 2: Calcule los valores de y en el modelo
Para recuperar la pendiente y la intersección y de la línea, utilice la variable p. La matriz p muestra el coeficiente en un orden descendente. Para un polinomio de primer orden, el primer coeficiente es la pendiente (m) y el segundo coeficiente es la intersección y (b).

In [16]:
order = 1
p = np.poly1d(np.polyfit(x, y ,order))

print('The array p(x) stores the calculated y value from the polynomial model for each x value,\n\n{}.'.format(p(x)))
print('\nThe vector of coefficients p describes this regression model:\n{}'.format(p))
print('\nThe zeroth order term (y-intercept or b) is stored in p[0]: {}.'.format(p[0]))
print('\nThe first order term (slope or m) is stored in p[1]: {}.'.format(p[1]))

The array p(x) stores the calculated y value from the polynomial model for each x value,

[169.93468442 134.14759895  26.78634257 527.80553905 384.65719719
 420.44428266 205.72176988 134.14759895  26.78634257 277.29594081
 527.80553905 313.08302627 456.23136812  62.57342803 169.93468442
 205.72176988 420.44428266  98.36051349 313.08302627 527.80553905
 563.59262451  62.57342803 134.14759895 348.87011173 384.65719719
 563.59262451 277.29594081].

The vector of coefficients p describes this regression model:

-35.79 x + 599.4

The zeroth order term (y-intercept or b) is stored in p[0]: 599.3797099726614.

The first order term (slope or m) is stored in p[1]: -35.787085462974005.

#### Paso 3: Utilice diversas medidas para evaluar los modelos.
En este paso, utilizará sklearn para evaluar los modelos. Sklean ofrece una variedad de medidas. Calculará la puntuación R2, el error medio cuadrático (MSE) y el error medio absoluto (MAE) con las funciones en sklearn.

In [17]:
from sklearn.metrics import r2_score
r2 = r2_score(y, p(x))
r2

0.83217523508888

In [18]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y, p(x))
mse

5961.386465941158

In [19]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y, p(x))
mae

61.2232611786873