![](itd.png)

    
# Análisis de Datos Masivos
## Base de Datos SQLite

## Nombre del docente
### José Gabriel Rodriguez Rivas
## Nombre del alumno
### Calos Alberto Carrete Gómez

In [2]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt 
%matplotlib inline

In [5]:
conn = sqlite3.connect('./DB/phonebook.db')

In [6]:
conn.cursor()

In [7]:
cur = conn.cursor()

In [10]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

In [11]:
for row in cur:
    print(row)

('Han Solo',)
('Leia Skywalker',)
('Luke Skywalker',)
('Obi-Wan Kenobi',)
('Anakin Skywalker',)
('Jabba The Hutt',)
('Greedo',)
('R2D2',)
('C3PO',)

**1) Proporcione el código para consultar los nombres de todas las princesas.**

In [13]:
query = "SELECT name FROM coworkers where title='Princess';"
cur.execute(query)
for row in cur:
    print(row)

('Leia Skywalker',)

**2) Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.**

In [14]:
query = "SELECT name FROM coworkers where title='Princess' or title='Debt Collector';"
cur.execute(query)
for row in cur:
    print(row)

('Leia Skywalker',)
('Greedo',)

**3) Proporcione el código para consultar los nombres y los números de todos los Jedi.**

In [15]:
query = "SELECT name, number FROM coworkers where title='Jedi';"
cur.execute(query)
for row in cur:
    print(row)

('Luke Skywalker', 5558963267)
('Obi-Wan Kenobi', 5558963276)



**4) Proporcione el código para consultar los nombres de los droids.**

In [18]:
query = "SELECT name FROM coworkers where title='Protocol Droid';"
cur.execute(query)
for row in cur:
    print(row)

('C3PO',)